$bcolor : #2D89E6 ;
$delete-c:#FF4A4A;
$border-c: #C3C3C3;
$font-s:22px;
$font-c:white;
$border-r: 5px;

*{
    box-sizing: border-box;
    margin: 0;
}

.header{

	font-size: $font-s;
    background-color: $bcolor;
    color: $font-c;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.warpper{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 30% 70%;
    position: relative;
}

#left-area{
    background-color: white;
    padding: 40px;
    padding-left: 50px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 0px;
    width: 75%;
    height: 450px;
    border-radius: 25px;
    border: 1px solid $border-c;
    display: flex;
    flex-wrap: wrap;
    position: relative;
      
}

#left-area div {
    height: 35px;
    margin: 0;
    padding: 0;
}

#right-area{
    background-color: #F1F1F1;
    margin-left: 10px;
    display: inline-block;
}

input{
    border-radius: $border-r;
    border: 1px solid $border-c;
    height: 40px;
    width: 120%;
}

select{
    border-radius: $border-r;
    border: 1px solid $border-c;
    height: 40px;
    width: 100%;
}

textarea {
    height: 60px;
    width: 120%;
    border-radius: $border-r;
    position: relative;
    bottom: 0;
}

span{
   
    padding-left: 40px;
    font-size: 18px;
    color: #707070;
}
.add-index{
    font-size: 10px;
    margin-top: 30px;
    top: 10px;
    position: relative;
}

.add-index input{
    width: 22px;
    height: 15px; 
}


 #left-area button{
    background-color: $bcolor;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    border-radius:  0 0 25px 25px;
    border: 1px solid $border-c;
    color: $font-c;
}

.left_nav{
    width : 600px;
    height: 50px;
    background-color: $bcolor;
    display: flex;
    border-radius: 0;

}
.right-nav {
    margin-top: 20px;
    width :50px;
    height: 40px;
    padding-left: 0;
    margin-left: 0;
    color: $font-c;
    font-size: 10px;
    background-color: $bcolor;
    border-radius: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search ul {
    list-style: none;
    margin-top: 20px;
    padding-left: 40px;
    width: 420px;
    height: 40px;
    background-color: $bcolor;
    border-radius: 0;
    color:$font-c;
    display: inline-block;
}

.search ul li {
    margin-top: 10px;
    display: inline-flex;
}

.cir{
    width: 40px;
    height: 40px;
    background-color: $bcolor;
    border-radius: 0 50% 50% 0;
}

.cir2{
    width: 40px;
    height: 40px;
    background-color: $bcolor;
    border-radius: 50% 0 0 50% ;
}

.search{
clear: both;
width: 100%;
}

.search .left-nav {
    float: left;
}

.search .cir{
    float: right;
    margin-top: 20px;
}

.search .cir2{
    float: right;
    margin-top: 20px;
}

.search .right-nav {
    float: right;
}
.sel select{
    border-radius: $border-r;
    border: 1px solid $border-c;
    height: 20px;
    width: 60px;
}

.inp input{
    border-radius: $border-r;
    border: 1px solid $border-c;
    border-right: 1px ;
    height: 20px;
    width: 130px;
}

.content{
    margin-top: 100px;
    width: 100%;
    overflow: scroll;
    height: 450px; 
}

.sub-cont{
    width: 100%;
    height: 200px;
    display: flex;
}

.del {
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-top: 70px;
    margin-left: 30px;
    background-color: red;
    border-radius: 50%;
    display: flex;
	align-items: center;
	justify-content: center;
}

.minus{
    width: 10px;
    height: 5px;
    background-color: white;
   
}

.info li{
    display: block;
    margin: 10px; 

}

.info ul{
    width: 100%;
    height: 100px; 
    background-color: #F1F1F1;
    margin-left: 10px;
    padding-left: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.info ul li a{
    text-decoration-line: none;
}

.info ul li p{
    width:800px;
}

.popup{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 450px;
    margin-top: 30px;
    background-color: white;
    border: 1px solid $border-c;
    border-radius: 30px;
    visibility: hidden;

}

.cir3{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.X{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.name{
    width: 200px;
    height: 40px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate( -50%);
    margin: 20px;

}

.mail{
    width: 600px;
    height: 40px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate( -50%);
    margin-top: 20px;
    padding-left: 0;

    ul{
        list-style: none;
        

    }
    li{
        margin-top: 10px;
        display: inline-flex;
    }
}

.information{
    width: 700px;
    height: 200px;
    position: fixed;
    top:35%;
    left: 50%;
    transform: translate( -50%);
    margin: 20px;
    overflow-wrap: break-word;

}

.alter{
    width: 500px;
    height: 60px;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate( -50%);
    margin: 20px;

    ul{
        list-style: none;
        display: inline-flex;
        padding-left: 0;

    }
    
    button{
        width: 100px;
        height: 40px;
        margin: 20px;
        font-size: 18px;
        color: $font-c;
        border: 1PX solid $border-c;
        border-radius: 10PX;
    }

}