$bcolor : #2D89E6 ;
$delete-c:#FF4A4A;
$border-c: #C3C3C3;
$font-s:22px;
$font-c:white;
$border-r: 5px;

*{
    box-sizing: border-box;
    margin: 0;
}

.header{

	font-size: $font-s;
    background-color: $bcolor;
    color: $font-c;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.warpper{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 30% 70%;
    position: relative;
}

#left-area{
    background-color: white;
    padding: 40px;
    padding: 40px;
    margin: 50px;
    width: 300px;
    height: 450px;
    border-radius: 25px;
    border: 1px solid $border-c;
    display: flex;
    flex-wrap: wrap;
    position: relative;
      
}

#left-area div {
    height: 35px;
    margin: 0;
    padding: 0;
}

#right-area{
    background-color: #F1F1F1;
    margin-left: 10px;
    display: inline-block;
}

input{
    border-radius: $border-r;
    border: 1px solid $border-c;
    height: 40px;
    width: 220px;
}

select{
    border-radius: $border-r;
    border: 1px solid $border-c;
    height: 40px;
    width: 220px;
}

textarea {
    height: 60px;
    width: 220px;
    border-radius: $border-r;
    position: relative;
    bottom: 0;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    font-size: 18px;
    color: #707070;
}
.add-index{
    font-size: 10px;
    margin-top: 30px;
    top: 10px;
    position: relative;
}

.add-index input{
    width: 22px;
    height: 15px; 
}


 button{
    background-color: $bcolor;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    border-radius:  0 0 25px 25px;
    border: 1px solid $border-c;
    color: $font-c;
}

.left_nav{
    width : 600px;
    height: 50px;
    background-color: $bcolor;
    display: flex;
    border-radius: 0;

}
.right-nav {
    margin-top: 20px;
    width :50px;
    height: 40px;
    padding-left: 0;
    margin-left: 0;
    color: $font-c;
    font-size: 10px;
    background-color: $bcolor;
    border-radius: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    margin-top: 20px;
    padding-left: 40px;
    width: 420px;
    height: 40px;
    background-color: $bcolor;
    border-radius: 0;
    color:$font-c;
    display: inline-block;
}

ul li {
    margin-top: 10px;
    display: inline-flex;
}

.cir{
    width: 40px;
    height: 40px;
    background-color: $bcolor;
    border-radius: 0 50% 50% 0;
}

.cir2{
    width: 40px;
    height: 40px;
    background-color: $bcolor;
    border-radius: 50% 0 0 50% ;
}

.search{
clear: both;
}

.search .left-nav {
    float: left;
}

.search .cir{
    float: right;
    margin-top: 20px;
}

.search .cir2{
    float: right;
    margin-top: 20px;
}

.search .right-nav {
    float: right;
}
.sel select{
    border-radius: $border-r;
    border: 1px solid $border-c;
    height: 20px;
    width: 60px;
}

.inp input{
    border-radius: $border-r;
    border: 1px solid $border-c;
    border-right: 1px ;
    height: 20px;
    width: 130px;
}