$bcolor : #2D89E6 ;
$font-s:22px;
$font-c:white;

*{
    box-sizing: border-box;
    margin: 0;
}

.header{

	font-size: $font-s;
    background-color: $bcolor;
    color: $font-c;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.addmem{

    width: 300px;
    height: 700px;
    border-radius: 25px;
    border: 1px solid black;
    

}